// Import Bootstrap's functions
@import "../../node_modules/bootstrap/scss/functions";

// Override Bootstrap variables
$primary: #6457a6;
$secondary: #5c2751;
$font-family-base: 'Montserrat', serif;

// Import variables and bootstrap
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

// Custom styles
body {
  color: $gray-500;
  background-color: $black;
  font-family: $font-family-base;
}

h1, h2, h3, h4, h5, h6 {
  color: $white;
}

