@import 'variables';

// input {
//   &::placeholder {
//     color: $white;
//   }
// }

.dash {
  &-sidebar {
    min-width: 200px;
    max-width: 100%;
    .nav-link {
      font-family: 'Poppins', serif;
      color: $white;
      border-top: 1px solid $primary-color;
      border-bottom: 1px solid $primary-color;

      > i {
        margin-right: 5px;
      }

      &.active, &:hover {
        font-weight: 600;
        color: $primary-color;
        background: darken($color: $white, $amount: 20%);
        transition: all .5s ease-in-out;
      }
    }
  }
}

// Lotto Ball
.lotto-ball {
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
}